<!DOCTYPE html>
<html lang="en">

<head>
    <title>ChatCat - Login</title>
    <meta charset="utf-8">
    <meta name="application-name" content="Eapay.com">

    <meta name="viewport" content="width=device-width,initial-scale=1.0 maximum-scale=1.0, user-scale=0">
    <meta name="author" content="curl.com">

    <meta name="keywords" content="mesaging app">
    <link rel="stylesheet" href="./css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuX0PKFOJwJ8ERdknLPMO"
        crossorigin="anonymous" />

    <link rel="stylesheet" href="./css/eapay.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="icon" href="./img/curl.png" />
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="w-25 mr-3 mb-3">
                    <img src="./img/fbpsge.png" class="img-fluid" alt="logo" />
                </div>
                
                <span class="login100-form-title pb-4">
                    Welcome To Curl Chat
                </span>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" onclick="window.location.href='/auth/facebook'">
                            Facebook
                        </button>

                    </div>
                </div>

                
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
</body>

</html>